.footer {
    background-color: #005ea2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
}

.footer-column h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
}

.footer-column a {
    text-decoration: underline;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #ffcc00;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.icon {
    transform: scale(1.5);
}

.social-icons a:hover {
    color: #ffcc00;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}
