.contact {
    background-color: lightgray;
}
.contact_body {
    /* margin-left: 200px; */
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_body > h3 {
    color: #005ea2;
    /* margin-left: 100px; */
    text-decoration-line: underline;
}
.contact_body > p {
    color: #4a4a4a;
    width: 70%;
}
.contact_phone {
    /* margin-left: 300px; */
    /* justify-content: center; */
    width: 50%;
    margin: auto;
}
.contact_phone > h4 {
    color: #052252;
}
.contact_flex {
    display: flex;
    align-items: center;
}
.contact_flex > p {
    color: #4a4a4a;
    width: 70%;
}
.phone_icon {
    color: green;
    transform: scale(1.6);
    /* margin-right: 40px; */
    /* margin: auto; */
}
.contact_worship {
    margin-right: 200px;
    background-color: #005ea2;
    text-align: center;
}
.contact_worship > h3 {
    /* color: #005ea2; */
    text-decoration-line: underline;
    color: white;
}
.contact_worship > p {
    /* color: #4a4a4a; */
    width: 70%;
    color: white;
}
.contact_location {
    margin-right: 50px;
}
.contact_location > h3 {
    color: #005ea2;
    text-decoration-line: underline;
}
.contact_location > p {
    color: #4a4a4a;
    width: 70%;
}

@media screen and (max-width: 768px) {
    
}