.footer {
    /* position: sticky;
    bottom: 0; */
    background-color: #005ea2;
    color: white;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_logo {
    display: flex;
    justify-content: center;
}
.footer_logo > h2 {
    height: 22px;
    color: white;
    margin-right: 10px;
}
.footer_logo > img {
    width: 10%;
    object-fit: cover;
    margin: 0px 10px;
    background-color: white;
    border-radius: 50%;
}
.footer_body {
    display: flex;
}
.footer_contact {
    margin-right: 200px;
}
.info {
    display: flex;
    align-items: center;
    margin: -10px 0px;
}
.icon {
    margin: 10px 10px;
    transform: scale(1.2);
    color: whitesmoke;
}
.footer_other {
    margin-left: 200px;
}
.copyright {
    color: #c1c0c0;
}

@media only screen and (max-width: 768px){
    /* .footer {
        position: sticky;
        bottom: 0;
    } */
    .footer_logo {
        display: none;
    }
    .footer_body {
        display: flex;
        flex-direction: column;
    }
    .footer_contact {
        margin: 0;
        border-bottom: 1px solid white;
    }
    .footer_other {
        margin: 0;
        border-top: 1px solid white;
    }
}