.navbar {
    display: flex;
    background-color: #005ea2;
    margin: 0px;
}
.title {
    display: flex;
    margin: 5px;
}
.title > h2 {
    width: 50%;
    height: 22px;
    color: white;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.title > img {
    width: 15%;
    object-fit: cover;
    margin: 0px 15px;
    background-color: white;
    border-radius: 50%;
}
nav {
    display: flex;
    margin: 0;
    align-items: center;
    width: 100%;
}
nav > a {
    color: white;
    margin-right: 20px;
    padding: 10px;
    text-decoration-line: none;
}
a:hover {
    color: lightblue;
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    .nav-links {
        visibility: hidden;
        height: 0%;
    }
}